<?xml version="1.0"?>
<launch>
    <arg name="m1" default="m1_x"/>
    <arg name="can" default="can0"/>
    <arg name="name_spaces" default="[$(arg m1)]"/>

    <!-- CORC M1 -->
    <node name="$(arg m1)" pkg="CORC" type="MultiM1Machine_APP" output="screen" args="-can $(arg can)"/>

    <!-- rqt -->
    <node name="rqt" pkg="CORC" type="rqt.sh">
    </node>
</launch>
